/****************
General
*****************/

@font-face {
  font-family: "Fidena";
  src: url(../fonts/fidena-webfont.woff);
}

@font-face {
 font-family: "Fidena";
 src: url(../fonts/fidena-bold-webfont.woff);
 font-weight: 800;
}

body {
  background-color: #000;
  font-family: 'Fidena', sans-serif;
  overflow-x: hidden;
}

* {
  /* overflow-x: hidden */
}


a, a:hover {
  text-decoration: none;
  transition: all .3s;
  color: unset;
}

.mobile-show {
  display: block;
}

.container {
  max-width: 266px;
}

.bg-desk {
  background-image: none;
}

@media (min-width: 266px) {
  .container {
    max-width: 328px;
  }

  .desktop-show {
    display: none;
  }
}

@media (min-width: 1024px) {
  .desktop-show {
    display: block;
  }

  .bg-desk {
    background-image: url('../img/bg-section-2.png');

  }
}

@media (min-width: 768px) {
  .desktop-show {
    display: block;
  }

  .container {
    max-width: 90%;
  }

  .mobile-show {
    display: none;
  }
}

/****************
Header
*****************/
.nav-menu {
  width: 90%;
}

.nav-content {
  color: #FFFFFF;
  font-weight: 600;
  display: none;
}

.nav-link:hover {
  color: #cccccc;
}

.logo-nav {
  width: 180px;
}

.hero {
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-alt {
  border: 2px solid #FFD500;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  height: 40px;
  width: 180px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all .3s;
  font-size: 12px;
}

.btn-alt:hover {
  background-color: #222222;
  color: #fff;
}

.btn-main {
  background: #3CC84B 0% 0% no-repeat padding-box;
  border-radius: 12px;
  color: #000;
  height: 40px;
  width: 180px;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all .3s;
  font-size: 12px;
}

.cta-header {
  display: flex;
}

.btn-main:hover {
  filter: saturate(1.2);
  color: #000;
}

.btn-alt-2 {
  background: #FFD500 0% 0% no-repeat padding-box;
  border-radius: 12px;
  color: #000;
  height: 50px;
  width: 280px;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  transition: all .3s;
  font-size: 1rem;
}

.btn-alt-2:hover {
  background-color: #e4c00e;
  color: #000;
}

.cta-content h1 {
  color: #FFD500;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 400;
}

.cta-content h2 {
  letter-spacing: 2px;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 300;
}

.cta-coin {
  position: absolute;
  right: 0%;
  top: -2%;
  white-space: nowrap;
  display: none;
}

.cta-coin-2 {
  position: absolute;
  right: 0%;
  top: -2%;
  white-space: nowrap;
  display: none;
}

.cta-content div {
  color: #FFFFFF;
  font-size: 12px;
}

.hl-text {
  color: #FFD500;
}

@media (min-width: 768px) {
  .cta-content h1 {
    font-size: 36px;
  }

  .cta-content h2 {
    font-size: 22px;
  }

  .cta-content div {
    font-size: 15px;
  }

  .btn-alt-2 {
    width: 322px;
  }

  .cta-coin img {
    width: 160px;
  }

  .cta-coin-2 {
    right: -7%;
    top: 100%;
    display: block;
  }

  .cta-coin-2 img {
    width: 160px;
  }

}

@media (min-width: 1024px) {
  .nav-content {
    display: block;
  }

  .cta-header {
    display: none;
  }

  .cta-coin {
    right: 42%;
    top: -11%;
    display: block;
  }
}

@media (min-width: 1333px) {
  .nav-menu {
    width: 75%;
  }
}

/****************
Games
*****************/

.games-section {
  position: relative;
}

.games-coin {
  position: absolute;
  right: -23%;
  top: -20%;
  white-space: nowrap;
}

.games-title {
  text-align: center;
  letter-spacing: 1.78px;
  color: #FFFFFF;
}

.coin-alt {
  position: relative;
}

.games-coin-alt {
  position: absolute;
  left: -3%;
  top: 0%;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .games-title {
    font-size: 26px;
  }
}

/****************
Ways to win
*****************/

.ways-head {
 text-align: center;
 color: #FFFFFF;
}

.ways-title-md {
  letter-spacing: 1.36px;
}

.ways-title-lg {
  letter-spacing: 2.42px;
  color: #FFD500;
  font-size: 24px;
}

.ways-title-sm {
  letter-spacing: 0px;
  font-size: 12px;
}

.ways-item {
  background: #FFD500 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 12px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.ways-item-title {
  font-size: 14px;
  letter-spacing: 1.2px;
}

@media (min-width: 1024px) {
  .ways-items {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .logo-sm {
    height: 25%;
  }

  .ways-title-md {
    font-size: 22px;
  }

  .ways-title-lg {
    font-size: 38px;
  }

  .ways-title-sm {
    font-size: 20px;
  }
}

/****************
Contact
*****************/

.cta-contact {
  background-color: #3CC84B;
  position: relative;
}

.cta-contact-coin {
  position: absolute;
  right: -20%;
  top: -2%;
  white-space: nowrap;
}

.cta-contact-content {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2.37px;
  color: #000000;
}

.w-20 {
  width: 20%!important;
}
.w-90 {
  width: 90%!important;
}

.cta-contact-btn {
  background: #FFD500 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  letter-spacing: 1.54px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  width: 90%;
}

.cta-contact-btn {
  background-color: #e4c00e;
}

.lock-image {
  width: 50%;
}

.whatsapp-image {
  width: 20%;
}

@media (min-width: 768px) {
  .cta-contact-coin {
    right: -8%;
    top: 1%;
    width: 180px;
  }

  .contact-container {
    width: 70%;
  }

  .cta-contact-content {
    font-size: 18px;
  }

  .lock-image {
    width: 200px;
  }

  .whatsapp-image {
    width: 10%;
  }

  .cta-contact-btn {
    width: 50%;
    font-size: 14px;
  }
}


@media (min-width: 1024px) {
  .contact-container {
    width: 35%;
  }

  .cta-contact-btn {
    width: 80%;
    font-size: 14px;
  }
}

/****************
Plans
*****************/

.plans {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.plans-coin {
  position: absolute;
  top: 10%;
  left: -12%;
}

.plans-coin-2 {
  position: absolute;
}

.plans-content {
  text-align: center;
  color: #FFFFFF;
}

.plans-content h1 {
  letter-spacing: 1.26px;
  font-size: 16px;
  color: #FFD500;
}

.plans-item img{
  max-width: 205px;
}

.plans-content h3 {
  font-size: 10px;
  letter-spacing: 0.94px;
  font-weight: 100;
  opacity: .8;
}

.plans-content h2 {
  font-size: 12px;
  font-weight: 600;
}

.plans-item-title {
  font-size: 32px;
  font-weight: 600;
}

.plans-item-price {
  border-radius: 0 30% 0 30%;
  background-color: #FFD500;
  padding: 5px 40px;
  float: left; 
  margin-left: -30px;
  margin-top: 10px;
  z-index: 20;
  position: relative;
  font-size: 32px;
  font-weight: 700;
}

.plans-item-points {
  background-color: #dadada;
  text-align: end;
  margin-top: 35%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  padding: 10px;
  padding-right: 15px;
}

.plans-item-return {
  text-align: end;
  font-size: 14px;
  line-height: 18px;
  padding-right: 5px;
  font-weight: 700;
}

.btn-plans {
  background: #FFD500 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  letter-spacing: 1.54px;
  color: #000000;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 600;
}

.btn-plans:hover {
  background-color: #e4c00e;
}

.slider-items {
  width: 46%;
  position: relative;
}

.owl-prev {
  position: absolute;
  color: #FFD500!important;
  font-size: 100px!important;
  left: -20%;
  top: 20%;
}

.owl-next {
  position: absolute;
  color: #FFD500!important;
  font-size: 100px!important;
  right: -20%;
  top: 20%;
}

@media (min-width: 768px) {
  .plans-content h1 {
    font-size: 38px;
    letter-spacing: 5.8px;
  }

  .plans-content h3 {
    font-size: 28px;
  }

  .plans-content h2 {
    font-size: 16px;
  }

  .plans-coin {
    top: 2%;
    left: -3%;
  }

  .plans-coin img {
    width: 150px;
  }

  .plans-coin-2 {
    bottom: -7%;
    right: -4%;
  }

  .plans-coin-2 img {
    width: 200px;
  }

  .slider-items {
    width: 50%;
  }

  .owl-prev {
    left: -5%;
    top: 20%;
  }
  
  .owl-next {
    right: -5%;
    top: 20%;
  }
}

/****************
Footer
*****************/

.footer {
  background-color: #FFD500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.social-links {
  font-size: 28px;
}

.social-links a:hover {
  color: rgba(29, 29, 29, 0.565)
}

.flag img {
  width: 55px;
}

.copyright {
  font-weight: 900;
}

@media (min-width: 768px) {
  .footer-image {
    width: 250px;
  }
}